*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blog-wrapper{
    width: 100%;
    .blog-container{
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        .blog-container{
            width: 100%;
            
        }
    }
}

.blog-data-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    .blog-text{
        h1{
            font-size: 72px;

        }
    }
}