*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blog-wrapper{
    margin-top: 5rem;
    min-height: 100vh;
    width: 100%;
    .blog-container{
        height: 100%;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        .blog-container{
            height: 100%;
            width: 100%;
            
        }
    }
}

.blog-data-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    .blog-text{
        h1{
            font-size: 58px;
        }
        h4{
            text-align: justify;
            width: 70%;
        }
    }
    .blog-image{
        .blog-img{
            border-radius: 6px;
        }
    }
}