@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Kanit:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-wrapper{
    width: 100%;
    .login-container{
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        .login-content{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            gap: 2rem;
            .google-btn{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                width: 230px;
                height: 40px;
                border: none;
                outline: none;
                border-radius: 4px;
                background-color: rgba(81, 173, 142, 0.274);
                font-weight: 500;
                font-family: 'Kanit';
                color: white;
                font-size: 16px;
                cursor: pointer;
                align-self: center;
              }
            form{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                input{
                    width: 400px;
                    height: 50px;
                    outline: none;
                    border: 1px solid #bbb;
                    background-color: transparent;
                    padding-left: 10px;
                    color: #bbb;
                    border-radius: 4px;
                    &::placeholder {
                      color: #bbb;
                      font-family: "Kanit";
                      font-weight: 500;
                      opacity: 0.7;
                    }
                  }
                  button{
                    width: 130px;
                height: 40px;
                border: none;
                outline: none;
                border-radius: 4px;
                background-color: rgb(81, 173, 143);
                font-weight: 500;
                font-family: 'Kanit';
                color: white;
                font-size: 16px;
                cursor: pointer;
                align-self: center;
                  }
            }
        }
    }
}